@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}

.intro-image{
    background-attachment: fixed;
    background-image: url('../img/image1.jpg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__text a {
    background-color: rgba(223, 171, 141, 0.767);
    border: 2px;
    color: rgba(111,71,63,255);
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

@keyframes moveInLeft{
    0%{
        transform: translateX(-1000px);
        opacity: 0;
    }
    80%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.intro-image__text a:hover {
    transform: scale(1.2);
}

.intro-text{
    background-color: rgba(211, 173, 129, 0.808);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 0 7rem ;
}

.intro-text__textbox h3{
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.packaging-image{
    background-attachment: fixed;
    background-image: url('../img/image2.jpg');
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.packaging-image__text a{
    background-color: rgba(100, 84, 75, 0.808);
    border: 2px solid;
    color: #ebb37c;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

@keyframes moveInLeft{
    0%{
        transform: translateX(-1000px);
        opacity: 0;
    }
    80%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.packaging-image__text a:hover{
    transform: scale(1.2);
}

.packaging-text{
    background-color: rgba(223, 171, 141, 0.808);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 0 7rem ;
}

.packaging_text__textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer{
    height: 200px;
    background-color: rgba(88, 69, 58, 0.808);
    color: #ebb37c;
    font-size: 1.5rem;
    padding-top: 2rem;
}


.footer ul li {
    display: inline-block;
    margin: 0.5rem;
}

.footer ul li a {
    color: #ebb37c;
    text-decoration: none;
}

.footer ul li:hover {
    transform: scale(1.1);
}

.tutorials-image{
    background-attachment: fixed;
    background-image: url('../img/image3.jpg');
    background-size: cover;
    background-position: bottom;
    height: 350px;
}

.tutorials-image__text a{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 0 7rem ;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

@keyframes moveInLeft{
    0%{
        transform: translateX(-1000px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.tutorials-image__text a{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}



